<ul><li><b>Your Cart</b>
<li>
<table>
<%= render(:partial => "store/cart_item" , :collection => cart.items) %>
<tr class="total-line" >
<td><b>Total</b></td>
<td class="total-cell" ><b><%= number_to_currency(cart.total_price) %></b></td>
</tr>
</table>
<br>
<%= link_to "Checkout", :controller => 'store', :action => :checkout %> | <%= link_to "Empty cart", :controller => 'store', :action => :empty_cart %>
</ul><br><br>
