<table cellpadding="0" cellspacing="0" border="0" class="cart">
<%= render(:partial => "store/cart_item" , :collection => cart.items) %>
	<tr class="total-line" >
		<td><b>Total</b></td>
		<td class="total-cell" ><b><%= number_to_currency(cart.total_price) %></b></td>
	</tr>
</table>
<br />
<%= link_to_remote image_tag('/bmweb/cart_delete.png', :title => 'Empty Cart', :alt=>'Empty Cart', :style => 'float: left'), :url => { :controller => 'store', :action => "emptycart" } %>

<%= link_to image_tag('/bmweb/cart_go.png', :title => 'Checkout', :alt=>'Checkout' , :style => 'float: right'), :controller => 'store', :action => :checkout %>

<div style="clear:both"></div>