<h2>Phones listed for the <%=  @plan.name %></h2>

<br />

<%= render :partial => 'phone_list.html.erb' %>


<br />
<%= link_to('Back', '/plans', { :class => 'blue_button', :style => 'line-height: 17px;' }) %>