<div style='text-align: center'>
	<h2>Password</h2>

<% form_tag({}, { :id => "login" }) do %>
	<p>
		
<%= password_field_tag :password, params[:password] %>
	</p>
	<p><br />
<%#= submit_tag "Login" %>
<%= link_to_function('Login', "$('login').submit()", { :class => "orange_button", :style =>"margin: 0 auto;"} ) %>
	</p>
<% end %>
</div>