html,body{

  margin:0;
  padding:0;
  height: 100%;
  
  color: #26232B;

font-family: verdana, arial, helvetica, sans-serif;
  font-size:   11px;
}

			.carousel_container {
				width: 100%;
				height: 80%;
				
			}
			
			#header {
			  text-align: center;
			  padding: 10px;
}

#lefthead {
  float: left;
}

#middlehead {
  background: #FFFFFF url('/images/headback.gif') 0 0 repeat-x;
  min-height: 62px;
  width: 90%;
  margin: 0 auto;
  clear: both;
}


#main {
  width: 85%;
  margin: 0 auto;
  padding: 5px;
}

#main h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

#righthead {
  float: right;
}

#org h1 {
  margin: 0px;
  padding-top: 0px;
  height: 27px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
 
#purchase {
  float: right;
  font-size: 18px;
}

#purchase h2 {
    margin: 0px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
  color: white;
}
#purchase a {
  color: white;
}

#purchase a:hover {
  text-decoration: none;
}


#phone {
  float: right;
  width: 300px;
  text-align: center;
}

#features {
  float: right;
  width: 30%;
  padding-right: 10px;
  padding-left: 5px;
}

#text {
  width: 30%;
  float: left;
}

.info {
  padding-top: 10px;
  clear: both;
}

.phone_features ul, .phone_accessories ul {
  margin:0;
  padding:0;
}

.phone_features li {
float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
  float: left;
}

.phone_accessories {}

.phone_accessories li {
  float: left;
  width: 48%;
    list-style: none;
    margin: 0;
  padding: 0;
  padding-right:2px;
  padding-left: 2px;
  padding-bottom:5px;
  text-align: center;
}

.acaption {
  display: block;
  text-align: left;
}

.fcaption {
  text-align: left;
}

#kiosk a {
  color: white;
  text-decoration: none;
  
}

#kiosk {
  color: white;
  
}

#kiosktop {
  text-align: center;
}

#kiosktop a {
  color: white;
  font-weight: bold;
  font-size: 10pt;
  text-decoration: none;
}

.backbutton {
  font-weight: bold;
  font-size: 10pt;
}

#zd {
  float: right;
  color: white;
}

#zd a {
  color: white;
  
}

.buy, .bplan {
  color: white;
  background-color: #3366E2;
  text-align: center;
  margin: 10px;
  font-size: 20pt;
  display: block;
  padding: 20px;
}


.buy:hover, .bplan:hover {
  text-decoration: none;
  color: #DFDFDF;
}

.drop-down a {
  padding: 20px;
  width: 100px;
  color: black;
  font-size: 12pt;
  font-weight: bold;
}

.drop-down {
text-align: center;
  height: 60px;
}

a {
  color: #4C4CD4;
}

a:hover {
  color: #1A80F0;
  text-decoration: none;
}

h2 {
  color: #4C4CD4
}

h1 {
  color: #3366E2
}

th {
  color: #4C4CD4
}

/* Kplans */

.plantype a {
  padding: 15px;
  background-color: #3366E2;
  margin: 20px;
  font-size: 16pt;
  color: white;
}

.plantype {
  margin-top: 20px;
  margin-bottom: 20px;
}

#consumer li, #business li {
  list-style: none;
}

#business {
  margin-left: 320px;
}

.plancharge ul {
  margin: 0px;
  padding: 0px;
}

.plancharge td {
  
  padding: 4px;
}

.plancharge th {
  text-align: left;
  padding: 4px;
}

.phonesummary {
  width: 45%;
  vertical-align: top;
}

.plansummary {
  width: 45%;
  padding-left: 5%;
  vertical-align: top;
  
}

.summarytable th {
  text-align: left;
  padding: 5px;
  font-size: 11pt;
  
}

.summarytable td{
  padding: 5px;
}

a img {
  border: 0px;
}

.printer {
  float: right;
  padding: 20px;
  padding-top: 0px;
  margin-right: 10%;
}

/*  end Kplans */



#backbutton {
  position: absolute;
  margin-left: 10%;
  margin-top: 15px;
} 