<%
unless plan_groups.nil?
%>
	<li>
		<h2 class="plan_group"><%= link_to_function(h(plan_groups.name), "$('" + h(plan_groups.name) + "').toggle()") %></h2>
		<ul id="<%= h(plan_groups.name) %>" class="plancharge" style="display: none;">
<%
unless @phone.nil?
  @plan_group_plans = @plans.collect { |plan| (plan.plan_group.id == plan_groups.id) ? plan : nil }.compact
else
  @plan_group_plans = plan_groups.plans
end
    if (plan_groups.applies_all_phones == true)
      @applies = true
    else
      @applies = false
    end

%>

<%= render :partial => "plans", :collection => @plan_group_plans %>
		</ul>
	</li>
<%
else
%>
	<li>No Phone Plans Available</li>
<%
end
%>
