<%
unless plans.nil?
  @plan_options = { :action => "summary", :plan_id => plans.id }
  unless @phone.nil?
    @plan_options.merge!({ :phone_id => @phone.id })
  end
%>
	<li>
		<h3><%= link_to_function(h(plans.name), "$('" + h(plans.name) + "').toggle()") %></h3>
		<ul id="<%= h(plans.name) %>" style="display: none;">
			<li><%= render :partial => "charges_plan", :object => plans %></li>
		</ul>
		<%= link_to("Choose Plan", @plan_options) %>
	</li>
<%
else
%>
	<li>No Plan Information Available</li>
<%
end
%>
