<%

unless plans.nil?

  show = 1
  
  @mropage = false
  
  unless plans.period.blank? || plans.period == 'Nill' || plans.period == 'NULL' || @phone.blank?
      @mropage = true
  end
  
  @action = @mropage ? "mro" : "summary"

  @plan_options = { :action => @action, :plan_id => plans.id, :applies => @applies }
  unless @phone.nil?
    @plan_options.merge!({ :phone_id => @phone.id })
  end
  
  if (@mropage && @applies)
  
    name = plans.name.split(' ')
    name[0].slice!(0)
    
    if (@phone.outright > $679) && (name[0] <= 60)
      show = 0
    elsif  (@phone.outright > $999) && (name[0].to_i <= 150)
      show =0
    end
    
  end
  
  if show
%>
	<li>
		<h3><%= link_to(h(plans.name), @plan_options) %></h3>

		<h4><%= link_to_function('View Charges for this Plan', "$('" + h(plans.name) + "').toggle()") %></h4>
		<ul id="<%= h(plans.name) %>" style="display: none;">
					<li><%= render :partial => "charges_plan", :object => plans %></li>
		</ul>
	</li>
<%
  end

else
%>
	<li>No Plan Information Available</li>
<%
end
%>
