

<table>

<%

for p in @phones


%>

  <tr><th><%= p.name %></th><td><%= p.description %></td>
  <td><%= link_to "Choose Phone", :action=> 'summary', :phone_id => p, :plan_id => @plan %></td></tr>

<% end %>

</table>

<% if @phones.empty? %>
  There are no phones linked to this plan.
<% end %>