<h2>Phones listed for the <%=  @plan.name %></h2>

<br />

<%= render :partial => 'phone_list.html.erb' %>


<br />
<%= link_to('Back', '/plans/list?service_type='+@service_type+'&network='+@network+'&existing='+@existing+'&plan_group[group_id]='+@plan.plan_group.id.to_s, { :class => 'blue_button', :style => 'line-height: 17px;' }) %>