<h2>Pre-Paid Mobiles</h2>
<div style="text-align: right;"><div class="right_buttons"><%= link_to('Compare Selected', url_for({ :action => 'show', :id => 1 }), { :class => 'blue_button' }) %></div><div style="clear: both;"></div></div>
<hr />
<%= render :partial => 'phone_list.html.erb' %>
<div style="text-align: right;"><div class="right_buttons"><%= link_to('Compare Selected', url_for({ :action => 'show', :id => 1 }), { :class => 'blue_button' }) %></div><div style="clear: both;"></div></div>
