<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head>  
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>
  <p>Dear <%= @user[:name]  %>,</p>
  <p>Thank you for contacting BM Tronics.</p> 
  <p>A sales representative will contact you regarding the following order shortly:</p>
  <h3>Order ID: <%=  @order.id %></h3>
<%= render(:partial => "store/main_cart" , :object => @order) %>
</body> 
</html> 

