<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head>  
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>  
  <h2>New Order!</h2>
  <h3>Customer details:</h3>
  <p></p>
  <h3>Order ID: <%=  @order.id %></h3>
<%= render(:partial => "store/main_cart" , :object => @order) %>
</body> 
</html> 



