<%
unless plans.nil?
  @plan_options = { :action => "summary", :plan_id => plans.id }
  unless @phone.nil?
    @plan_options.merge!({ :phone_id => @phone.id })
  end
  
  show = 1
  
  if (@upfront)
  
    name = plans.name.split(' ')
    name[0].slice!(0)
    
    if (@phone.outright > $679) && (name[0] <= 60)
      show = 0
    elsif  (@phone.outright > $999) && (name[0].to_i <= 150)
      show =0
    end
    
  end
  
  if show
%>
	<li>
		<h2 style="padding:10px; padding-left: 0px;"><%= link_to(h(plans.name), @plan_options, {:style=>'padding:20px;padding-left:0px;'}) %></h2>
		<% if @upfront %>
		    <%#= debug upfront_cost(@phone, plans) %>
		<% end %>
		<h3><%= link_to_function('View Charges for this Plan', "$('" + h(plans.name) + "').toggle()") %></h3>
		<ul id="<%= h(plans.name) %>" style="display: none;">
					<li><%= render :partial => "charges_plan", :object => plans %></li>
		</ul>
	</li>
<%
  end

else
%>
	<li>No Plan Information Available</li>
<%
end
%>
