<%
unless plans.nil?
  @plan_options = { :action => "summary", :plan_id => plans.id }
  unless @phone.nil?
    @plan_options.merge!({ :phone_id => @phone.id })
  end
%>
	<li>
		<h2 style="padding:10px; padding-left: 0px;"><%= link_to(h(plans.name), @plan_options, {:style=>'padding:20px;padding-left:0px;'}) %></h2>
		<h3><%= link_to_function('View Charges for this Plan', "$('" + h(plans.name) + "').toggle()") %></h3>
		<ul id="<%= h(plans.name) %>" style="display: none;">
					<li><%= render :partial => "charges_plan", :object => plans %></li>
		</ul>
	</li>
<%
else
%>
	<li>No Plan Information Available</li>
<%
end
%>
