<%
unless plans.nil?
%>
	<li>
		<h3><%= link_to_function(h(plans.name), "$('" + h(plans.name) + "').toggle()") %></h3>
		<ul id="<%= h(plans.name) %>" style="display: none;">
<%= render :partial => "charges_plan", :object => plans %>
		</ul>
	</li>
<%
else
%>
	<li>No Plan Information Available</li>
<%
end
%>
