<!-- Hack for IE to allow legend text to align with the rest of the form -->
<!--[if IE]>
<style>
legend
{
	text-indent: -4px;
}
</style>
<![endif]-->

<form name="plan_search" action="/plans/list" method="post">
	<fieldset>
		<legend>Do you want a handset with your plan ?</legend>
		<div>
			<label>Yes</label>
			<span>
				<input name="handset_required" type="radio" value="monthly" checked="checked" />
			</span>
		</div>
		<div>
			<label>No</label>
			<span>
				<input name="handset_required" type="radio" value="prepaid" />
			</span>
		</div>
	</fieldset>

	<hr />

	<fieldset>
		<legend>Is this a Business or Personal purchase ?</legend>
		<div>
			<label>Business</label>
			<span>
				<input name="purchase_type" type="radio" value="business" checked="checked" />
			</span>
		</div>
		<div>
			<label>Personal</label>
			<span>
				<input name="purchase_type" type="radio" value="personal" />
			</span>
		</div>
	</fieldset>

	<hr />

	<fieldset>
		<legend>Is this a new service or an upgrade ?</legend>
		<div>
			<label>New Service</label>
			<span>
				<input name="service_type" type="radio" value="monthly" checked="checked" />
			</span>
		</div>
		<div>
			<label>Upgrade</label>
			<span>
				<input name="service_type" type="radio" value="prepaid" />
			</span>
		</div>
		<div>
			<label>Your existing mobile number</label>
			<span>
				<input name="existing" type="text" value="" disabled="disabled" />
			</span>
		</div>
	</fieldset>

	<hr />

	<fieldset>
		<legend>Which Telstra Network would you like to use ?</legend>
<%
  first = true
  checked = 'checked="checked"'

  unless ((@networks == nil) or (@networks.empty?))
    for network in @networks
%>
		<div>
			<label><%= network.first %></label>
			<span>
				<input name="network" type="radio" value="<%= network.last %>" <%= checked -%> />
			</span>
		</div>
<%
	  if (first)
	    checked = ''
		first = false
	  end
    end
  else
%>
		<div>No Networks</div>
<%
  end
%>
	</fieldset>

	<hr />

	<fieldset>
		<legend>What plan suits your needs ?</legend>
		<!-- <div>
			<label for="brand">Handset brand</label>
			<span>
				<%#= select_tag "brand", options_for_select(@phone_brands, @selected_brand) %>
			</span>
		</div> -->
		<div>
			<label for="brand">Plan Type</label>
			<span>
				<%#= select_tag "brand", options_for_select(@phone_brands, @selected_brand) %>
				<select name="plan_type" size="1">
					<option value="">Select a plan type</option>
					<option value="cap">Cap Plan</option>
					<option value="cap">Phone Plan</option>
					<option value="cap">Member Plan</option>
				</select>
			</span>
		</div>
		<div>
			<label for="brand">Sub Plan Type</label>
			<span>
				<%#= select_tag "brand", options_for_select(@phone_brands, @selected_brand) %>
				<select name="plan_type" size="1">
					<option value="">Select a sub plan type</option>
					<option value="cap">Mobile Plan</option>
					<option value="cap">Get Connected Plan</option>
				</select>
			</span>
		</div>
	</fieldset>

	<hr />

	<fieldset>
		<legend>Over what period would you like to repay the cost of your handset ?</legend>
		<div>
			<label>Repayment Period</label>
			<span>
				<select name="repayment_period" size="1">
					<option value="">Select a repayment period</option>
					<option value="cap">12 months</option>
					<option value="cap">24 months</option>
				</select>
			</span>
		</div>
	</fieldset>

	<hr />

	<fieldset>
		<legend>What is your average spend each month ?</legend>
		<div>
			<label>Average Monthly Spend</label>
			<span>
				<select name="repayment_period" size="1">
					<option value="">Select a monthly spend</option>
					<option value="cap">$10</option>
					<option value="cap">$20</option>
					<option value="cap">$30</option>
					<option value="cap">$40</option>
					<option value="cap">$60</option>
					<option value="cap">$80</option>
					<option value="cap">$100</option>
					<option value="cap">$150</option>
				</select>
			</span>
		</div>
	</fieldset>

	<hr />

	<div style="text-align: right;"><div class="right_buttons"><%= link_to_function('Display Plans', "document.plan_search.submit()", { :class => "orange_button"} ) %></div><div style="clear: both;"></div></div>
</form>