<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>Personal - <%= controller.action_name %></title>
	  <%= stylesheet_link_tag "personal" , :media => "all" %>

</head>
<body>

<div id="page">


<div id="container">
<div id="header"><br />
    <a href="/" title="Home"><img src="/images/logo.jpg" alt="Telstra Logo" /></a><br /><br />

<!--
		<div id="sections">
			<div id="sect_left"></div>
			<ul>
				<li><div class="sect_link"><a href="#">Personal</a></div><div class="sect_break"></div></li>
				<li><div class="sect_link"><a href="#">Enterprise</a></div><div class="sect_break"></div></li>
				<li><div class="sect_link"><a href="#">Government</a></div><div class="sect_break"></div></li>
				<li><input name="search_criteria" type="text" value="" /><label><input type="radio" name="search_where" value="telstra" />Telstra</label><label><input type="radio" name="search_where" value="web" />The Web</label><input name="search" type="image" value="Search" style="/*border:0px inset Window; background-image: url(/images/more_details.gif); height: 17px;*/ height: 25px;" /></li>
			</ul>
			<div id="sect_right"></div>
		</div>
-->
		<p style="color: green"><%= flash[:notice] %></p>
    <div id="middlehead">
        <img src="/images/lefthead.gif" id="lefthead">
        <img src="/images/righthead.gif" id="righthead">
        <div id="org">
            <h1>Personal</h1>
        </div>
        <div id="topnav">
            <a href="#">Home</a>&nbsp;&nbsp;&nbsp;<a href="#">My Account</a>&nbsp;&nbsp;&nbsp;<a href="#">Shop Online</a>&nbsp;&nbsp;&nbsp;<a href="#">Help Centre</a>&nbsp;&nbsp;&nbsp;<a href="#">About Telstra</a>&nbsp;&nbsp;&nbsp;<a href="#">Contact Us</a>
        </div>
    </div>
</div>

<div id="wrapper">
<div id="content"><img src="/images/contenttop.gif" width="714" height="7" >
    <div id="body">
    
    <%= yield  %>
    
    </div>
<img src="/images/contentbottom.gif" width="714" height="9" >
</div>
</div>
<div id="navigation"><img src="/images/topnav.gif" width="163" height="7" >
    <div id="navbody">
    
    			<ul>
				<li><a href="/phones/list/offers">Latest Mobile Offers</a></li>
				<li><a href="/phones">Mobile Phones</a></li>
				<li><a href="/plans">Search Plans</a></li>
				<li><a href="/phones/list/prepaid">Pre-Paid Mobiles</a></li>
				<li><a href="/phones/list/nextg">Next G Phones</a></li>
				<li><a href="/phones/list/pda">PDAs & Smartphones</a></li>
				<li><a href="/accessories">Mobile Accessories</a></li>
			</ul>
    
    </div>
<img src="/images/bottomnav.gif" width="163" height="8" >
</div>
<div id="extra">
</div>
<div id="footertop">

</div>
</div>

</div>
<div id="footer">
  <div id="footertext">
  <a href="#">About Telstra</a>&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="#">Our Customer Terms</a>&nbsp;&nbsp;&nbsp;<a href="#">Copyright and Trade Mark Notice</a>&nbsp;&nbsp;&nbsp;<a href="#">Terms of Use</a>&nbsp;&nbsp;&nbsp;<a href="#">Contact Us</a>
  </div>
</div>

</body>
</html>
